@import "tailwindcss";

header {
    background-image: url(../img.png/Group\ 2\ \(1\).png);
}
.section-5 {
    background-image: url(../img.png/Group\ 10.png);
    background-repeat: no-repeat;

}
.hero {
    background-image: url(../img.png/aks.png);
    background-repeat: no-repeat;
}
.page4 {
background-image: url(../img.png/ff.png);

}
.hop {
    background-image: url(../img.png/sur.png);
}
